
html {
    height: 100%;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: stretch;
    margin-bottom: 0px;
}

header {
    width: 100%;
    text-align: center;
    color: orange;
}


footer {
    width: 100%; 
    height: 100%;
    margin-top: 5%; 
    /* margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 1em; */
}

.canvas {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 2fr;
}

.logo {
    background-color: none;
    background-image: none;
    background: transparent;
}


.left-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1fr;
    width: 1fr;
    text-align: center;
    flex-shrink: inherit;
}

.party-select {
    display: none;
    flex-direction: column;
    flex-shrink: inherit;
}

.creater-links {
    display: none;
    width: 10%;
    flex-shrink: inherit;
}

.character-num {
    flex-shrink: inherit;
    background-color:  black;
    color: white;
    width:  7em;
    height: 4em;
    margin: 1em;
}

.character-num:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* This is where the center viewport is */

.vtt {
    align-self: center;
    justify-self: center;
    height: 1fr;
    width: 3fr;
    height: fit-content;
    flex-shrink: inherit;
}

/* .new-char-card {
    display: block;
    border: 5px solid black;
} */

/* This is where the right menu is */

.right-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1fr;
    width: 1fr;
    text-align: center;
    flex-shrink: inherit;
}
 
.side {
    text-size-adjust: auto;
    word-wrap: inherit;
}


/* Createthe sides so that they flex to get smaller  */

.character-names { 
    display: none;
    flex-direction: column;
    flex-shrink: inherit;
    margin-top: 2em;
}

.name-fields {
    flex-shrink: inherit;
}

.character-name {
    color: green;
}


/* This is where the footer is */
/* Changing display to none will get rid of it all, flex is what we are using   */
.character-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}


.classes {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: inherit;
    flex-grow: 1;
    width: 50px;
    border: 1px solid black;
    opacity: .8;
    transition: 2s ease;
    padding: 1px, 1px, 1px, 1px;
}

/* .classes:nth-child(3) {
    background-color: red;

} */

.classes:hover {
    opacity: 1;
    margin-top: -30%;
    flex-grow: 4;
    z-index: 11;
}

.card-header {
    opacity: 1;
    text-size-adjust: auto;
    transition: 2s;
}

.pros {
    color: white;
}


.starting-stats {
    color: white;
    display: none;
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    text-decoration:double;
    flex-direction: column;
    transform: scale(1);
    width: 100%;
    text-overflow: none;

}

/* .starting-stats div {
    transform: scale(.2);
    transition: 2s;
} */

/* .classes:hover .starting-stats {
    display: contents;
} */

/* .classes:hover .starting-stats div {
    transform: scale(1);
} */

/* 
Character buttons - show tokens and clickable and hoverbale, their value is the api name for the class */

.char-button {
    opacity: 1;
    border-radius: 100%;
    width: 8em;
    height: 8em;
    margin: 10px 10px 10px 10px;
    border: 5px solid transparent;
    
}


.char-button:hover {
    border-color: black;
    cursor: pointer;
}

/* Classes ribbons CSS - rounded tops | lower tranparancey when they are not being hovered | some sort of colored / moving border using that one "nutty" showed us | */



.barbarian {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(125,8,8,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.barbarian:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(125,8,8,1) 100%),
        url('imgs/overlays/Barbarian.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.bard {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(125,8,99,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.bard:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(125,8,99,1) 100%),
        url('imgs/overlays/Bard.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.cleric {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(224,232,17,1) 100%);
    border-radius: 15px 15px 0px 0px;
}
 
.cleric:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(224,232,17,1) 100%),
        url('imgs/overlays/Cleric.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.druid {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(101,232,17,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.druid:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(101,232,17,1) 100%),
        url('imgs/overlays/Druid.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.fighter {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(232,46,17,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.fighter:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(232,46,17,1) 100%),
        url('imgs/overlays/Fighter.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.monk {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(232,154,17,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.monk:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(232,154,17,1) 100%),
        url('imgs/overlays/Monk.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.paladin {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(203,185,16,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.paladin:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(203,185,16,1) 100%),
        url('imgs/overlays/Paladin.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.ranger {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(7,98,37,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.ranger:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(7,98,37,1) 100%),
        url('imgs/overlays/Ranger.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.rogue {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(7,16,98,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.rogue:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(7,16,98,1) 100%),
        url('imgs/overlays/Rogue.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.sorcerer {
    background: rgb(10,3,30);
    background: linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(140,13,179,1) 100%);   
    border-radius: 15px 15px 0px 0px;
}

.sorcerer:hover {
    background-image: 
        linear-gradient(180deg, rgba(10,3,30,1) 0%, rgba(140,13,179,1) 100%),
        url('imgs/overlays/Sorcerer.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.warlock {
    background: rgb(17,2,22);
    background: linear-gradient(180deg, rgba(17,2,22,1) 0%, rgba(128,13,120,1) 100%);
    border-radius: 15px 15px 0px 0px;
}

.warlock:hover {
    background-image: 
        linear-gradient(180deg, rgba(17,2,22,1) 0%, rgba(128,13,120,1) 100%),
        url('imgs/overlays/Warlock.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.wizard {
    background: rgb(17,2,22);
    background: linear-gradient(360deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 15px 15px 0px 0px;
}

.wizard:hover {
    background-image: 
        linear-gradient(360deg, #00d2ff 0%, #3a47d5 100%),
        url('imgs/overlays/Wizard.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

/* Class Button CSS*/

#barbarian-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-7-barbarian.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bard-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-9-bard.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#cleric-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-13-cleric.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#druid-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-11-druid.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#fighter-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-4-fighter.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#monk-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-6-monk.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#paladin-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-3-paladin.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#ranger-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-2-ranger.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#rogue-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-12-rouge.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#sorcerer-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-14-sorcerer.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}
#warlock-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-1-warlock.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

#wizard-button {
    background-position: 100%;
    background-image: url("imgs/pop-up/franco-dnd-classes-8-wizard.jpg");
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

/* Images  or maps*/
#vestibule {
    
    width: 100%;
    height: 100%;
    max-width: fit-content;
    flex-shrink: inherit;
}

@media all and (max-width: 1500px) and (min-width: 901px) {
    .classes .char-button {
        order: 0;
        
    }
    .classes .pros {
        order: 1;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .char-button {
        width: 5em;
        height: 5em;
    }

}

@media all and (max-width: 900px) {
 .canvas {
    display: none;
 }   
.character-selection {
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
}
.classes {
    width: 100%;
}

.classes:hover {
    margin-top: 0%;
}

.classes:hover .card-header {
    padding-top: 50px;
}


/* .classes:hover .starting-stats {
    flex-direction: row;
    justify-self: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
} */

}