#container {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 5%;
}

#square {
    height: 150px;
    width: 150px;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}



body {
    background-color: red;
}

