body {
    display: flex;
    flex-direction: column;
    margin: -0.5em -0.5em -0.5em -0.5em;
}

input {
    width: 12rem;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px 10px;
    background-color: whitep;
    height: 20em;
}

.logo {
    width: 20%;
    margin-right: 15%;
    padding-bottom: 50px;
}


.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
}

.nav-item {
    text-decoration: none;
    color: orange;
    width: 10%;
    text-align: center;
    padding-bottom: 50px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: -5em 0em 0em 0em;
    background-size: 100%;
    height: 46em;
    background-repeat: no-repeat;
    width: 100%;
}



.head-copy {
    text-align: center;
    color: black;
    margin: 1rem 0rem 1rem 8rem;
    background-color: #FFEEE1;
    padding: .25rem .75rem .25rem .75rem;
    font-size: 2em;
}

.middle-section {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.middle-image {
    padding: 5em 2.5em 5em 10em;
}

.middle-copy {
    background-color: red;
    margin: -5rem 20rem -5rem 10rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: justify;
    text-align: center;
    /* font-size: 1.5em; */
}

.badge-container {
    background-color: #FBF1DA;
    display: flex;
    justify-content: space-around;
}

.badge {
    position: relative;
    color: black;
    background-color: red;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    height: 25em;
    margin: 5em 0em 5em 0em;
    padding: 0em 0em 0em 0em;
}
/* 
Need the upper to have a gradient the whole time, between them, use the tool and then cut it up */

.badge-upper {
    background: rgb(233,177,49);
    background: linear-gradient(90deg, rgba(233,177,49,1) 30%, rgba(236,129,49,1) 60%);    width: 100%;
    height: 50%;
    z-index: 1;
}


.badge-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 6em;
    height: 6em;
    z-index: 2;
}

.badge-lower {
    background-color: white;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.badge-text {
    padding: 3em 0em 0em 0em;
}

.lower-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 5rem 0rem 0rem 0rem; */
}

.form-inside {
    margin: 7rem 2.5rem 7rem 2.5rem;
}

.lower-copy {
    text-align:start
}


.form-inline {
    margin: 1rem 0rem 1rem 0rem;
    height: 2.25rem;
    width: 25rem;
    background-color: #FBF1DA61;
    border-width: 1px;
}

.foot {
    border-top: 1rem solid #EC8131;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.foot h3 {
    color: #EC7A33;
}

.foot-item {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

/* this is where the Referral form starts */


.form-container {
background-color: #E9B131;
padding: 10px 10px;
}

.fieldset-main {
    background-color: none;
    border: none;
}

.client-relation {
    display: flex;
    flex-direction: column;
}

/* this is where the ID section begins */

#index-head {
    background-image: url('img/Artboard\ 1.png');
}

#referral-head {
    background-image: url('img/Artboard\ 1\ copy\ 6.png');
}

#referral-head {
    justify-content: flex-end;
}

#referral-head .head-copy {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

#referral-form-main {
    background-color: red;
}

#referral-form-main h1 {
    text-align: center;
}



#textarea-1 {
    background-color: #FBF1DA61;
}


#submit-button {
    background: linear-gradient(90.92deg, #E9B131 9.83%, #EC8131 84.6%);
}


#lower-head-copy {
    margin-right: 3em;
}

/* this is ID adjustment of all logos */

/* #logo-top-left {
    width: 50%;
} */

#logo-bottom-left {
    margin: -9rem -8rem 0rem -5rem;
}


#logo-bottom-right {
    border-left: .2rem solid #EC8131;
    padding-left: 2rem;
    margin-left: -4rem;
}