body {
    margin: 5em 5em;
    text-align: center;
    background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

#title {
    width: 100%;    
}

#pokedex {
    border: 2em solid red;
    padding-bottom: 5em;
    padding-top: 5em;
    background-color: black;
    color: white;
    margin-right: 30%;
    margin-left: 30%;
}
#pokemonPhoto {
    width: 10em;
}